<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EIDO</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src="//cdn.delight-vr.com/latest/dl8-da51d67063eeddc28640264b407867352bccb220.js"
    async></script>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{url_for('index')}}">EIDO MUESTRA 3D</a>
    </nav>
    {% block content %}
    {% endblock %}
  </head>
  <body>
    <div class="jumbotron">
  <h1 class="display-4">Bienvenidos a la inauguracion del estudio EIDO</h1>
  <p class="lead">A continuación pueden ver muestras en formato 3D de nuestro trabajo, esperamos que les guste.</p>
  <p class="lead">Recuerden que tienen barra libre!!</p>
  <hr class="my-4">
  <p>pulse el enlace para ver nuestra web</p>
  <a class="btn btn-primary btn-lg" href="https://www.eidoarch.com/" role="button">Web</a>
</div>



    <dl8-img src="../static/salon1.jpeg" poster="../static/salon1.jpeg" title="EIDO 1"
         author="eido" format="MONO_360">
       </dl8-img>
    <dl8-img src="../static/salon2.jpeg" poster="../static/salon2.jpeg" title="EIDO 1"
            author="eido" format="MONO_360">
        </dl8-img>


  </body>

  <!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://www.eidoarch.com/">eidoarch.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</html>
