<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EIDO</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src="//cdn.delight-vr.com/latest/dl8-da51d67063eeddc28640264b407867352bccb220.js"
    async></script>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{url_for('index')}}">EIDO MUESTRA 3D</a>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="navbar-brand" href="https://www.eidoarch.com/">volver a eido</a>
            </li>

        </ul>
      </div>


    </nav>

  </head>
  <body>
<br>
    <div class="container">
<dl8-img src="../static/LCL1_3Da.jpg" poster="../static/LCL.png" title="LCL1"
             author="eido" format="MONO_360" >
           </dl8-img>
           </div>
           <br>
<div class="container">
        <dl8-img src="../static/LCL2_3D.jpg" poster="../static/LCL.png" title="LCL2"
                author="eido" format="MONO_360">
            </dl8-img></div>
            <br>
<div class="container">
        <dl8-img src="../static/MDM_3D.jpg" poster="../static/MDM.png" title="MDM"
                   author="eido" format="MONO_360">
            </dl8-img></div>
            <br>
<div class="container">
        <dl8-img src="../static/TYC_3D.jpg" poster="../static/TYC.png" title="TYC"
                      author="eido" format="MONO_360">
              </dl8-img></div>
              <br>
<div class="container">
        <dl8-img src="../static/USDP_3Da.jpg" poster="../static/USDP.png" title="USDP"
                            author="eido" format="MONO_360">
                    </dl8-img></div>
      <br>
<br>



<div class="container text-center" >
  <div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">Gracias por venir</h1>

    <p class="lead">Recuerde que disponemos de servicio de coctelería premium, si desea incorporarlo a sus eventos pulse el botón</p>
    <a href="https://mybarmalaga.com/"> <img src="../static/mybarnegro.jpeg" alt="mybar" style="width:100px;height:100px;"> </a>
  </div>
</div>



  </body>

  <!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://www.eidoarch.com/">eidoarch.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</html>
